@font-face {
  font-family: BriosoPro Italic;
  font-display: swap;
  src: url("../fonts/BriosoPro Italic.woff2") format("woff2"), url("../fonts/BriosoPro Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.no-webp body {
  background: url("../img/Turkey.jpg") 0 0 no-repeat; }

body {
  background-color: #000;
}

body span {
  color: red;
}

.webp body { background: url(../img/Turkey.webp) 0 0 no-repeat; }